/* ===================================
VARIABLE
=================================== */
$color-primary-web: #013580;
$color-secondary-web: #ffc008;
$color-primary: #0057c8;
$color-success: #00bf8e;
$color-warning: #f7c94b;
$color-danger: #f75842;
$color-white: #fff;
$color-light: rgba(255, 255, 255, 0.7);
$color-black: #141414;
$color-background: #f8f9fa;
$color-font-black: #282828;
$color-font-gray: #788190;

$transition: all 300ms ease;

/* ===================================
CSS RESET
=================================== */
* {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* ===================================
GENERAL
=================================== */
body {
  background: $color-background;
}
section {
  padding: 4rem 0;
}

section .section__header {
  text-align: center;
  margin-bottom: 3rem;

  p {
    padding: 0.5rem 0;
  }
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3rem;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  border-radius: 50rem;
}

.btn-primary,
.btn-outline-secondary,
.btn-light {
  padding: 0.7rem 1.5rem;
  border: 1px solid transparent;
  transition: $transition;
}

.btn-primary {
  background: $color-primary;
}

/* ===================================
NAVBAR
=================================== */
.nav-link {
  margin-left: 1.5rem;
  font-weight: 500;
}

.window-scroll {
  background: hsla(0, 0%, 100%, 0.7);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  transition: $transition;
  // box-shadow: 0 2px 12px rgba(36, 50, 66, 0.3);
}

/* ===================================
HEADER
=================================== */
header {
  height: 90vh;
}

.hero__container {
  display: grid;
  align-items: center;
  height: 100%;
}

.hero__content {
  align-items: center;
}

.hero h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.hero__text {
  max-width: 35rem;
}

/* ===================================
CATEGORIES
=================================== */
.category {
  background: $color-white;
  padding: 2rem;
  border-radius: 2rem;
  transition: $transition;
}

.category:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.category__icon {
  background: $color-primary;
  color: $color-white;
  padding: 0.7rem;
  font-size: 2rem;
  border-radius: 0.9rem;
}

.category h5 {
  margin: 1.5rem 0 1rem;
  font-weight: 700;
}

.category p {
  font-size: 0.85rem;
  color: $color-font-gray;
}

/* ===================================
INFORMATION
=================================== */
.information__content {
  align-items: center;
  margin-bottom: 5rem;
}

.information h5 {
  font-size: 2.3rem;
  font-weight: 700;
  color: $color-black;
}

.information p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 28px;
  padding-top: 20px;
}

/* ===================================
ARTICLE
=================================== */
.article {
  background: $color-white;
  border-radius: 2rem;
  transition: $transition;
}

.article:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.article__image img {
  border-radius: 2rem 2rem 0 0;
}

.article__text {
  padding: 1.5rem;
}

.article__text p {
  margin: 1rem 0;
}

.article h4 {
  color: $color-black;
  font-weight: 700;
}

.article h4:hover {
  text-decoration: underline;
}

/* ===================================
FOOTER
=================================== */
footer img {
  width: 8rem;
}

footer a {
  color: #242424;
  font-size: 0.9rem;
}

footer a:hover {
  text-decoration: underline;
}

footer .copyright {
  font-size: 0.8rem;
}

/* ===================================
MEDIA QUERIES
=================================== */

// responsive for table
@media screen and (max-width: 992px) {
  // header
  header {
    height: 60vh;
  }
  .hero h1 {
    // font-size: 1.8rem;
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 0.8rem;
  }

  .hero__text {
    max-width: 20rem;
  }
}

// responsive for tablet 767
@media screen and (max-width: 767px) {
  .hero__content {
    text-align: center;
  }

  .hero__text {
    max-width: 25rem;
    margin: 0 auto;
  }

  .hero__image {
    margin-top: 4rem;
  }

  .categories {
    padding-top: 12rem;
  }
}

// responsive for phones
@media screen and (max-width: 576px) {
  section {
    padding: 1rem 0;
  }
  header {
    height: 70vh;
    margin-bottom: 12rem;
    padding: 6rem 0;
  }

  .hero__content {
    text-align: center;
  }

  .hero__text {
    max-width: 25rem;
    margin: 0 auto;
  }

  .hero__image {
    margin-top: 4rem;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  // categories
  .categories {
    padding-top: 12rem;
  }

  // information
  .information__content {
    text-align: center;
  }

  .information h5 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .information p {
    font-size: 0.9rem;
    line-height: 20px;
  }
}
